* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 40px;
}

h2 {
    font-size: 1.4rem;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

.logo img {
    width: 180px;
    margin-top: 10px;
}


.nav {
    position: fixed;
    background-color: rgba(20, 20, 20, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.nav__list {
    list-style: none;
    margin: 40px;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;

}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.nav__link:hover {
    color: #919098;
}

.nav-taggle {
    width: 3em;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    background: #333;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before {top: 3px;}
.hamburger::after {bottom: 3px;}

.nav-open .hamburger::before,
.nav-open .hamburger::after {
    background: #fff;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}

/* main section */

.product__card {
    width: 100%;
    margin-bottom: 30px;
}

.product__link {
    text-decoration: none;
    color: #333;
}

.product__link:hover {
    opacity: 0.8;
    transition: tranform 250ms ease-in-out;
}

.product__image {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 5px;
}

.product__name,
.product__price {
    text-align: center;
}

.view-more {
    background-color: transparent;
    border: none;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #2c2c2e;
    cursor: pointer;
    text-decoration: none;
}

.view-more:hover {
    color: #919098;
    transition: transform 250ms ease-in-out;
}

footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
}

.social-list__link {
    text-decoration: none;
    color: #333;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
}

@media (min-width: 600px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .product__card {
        margin-bottom: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

   .social-list__item {
       margin: 0 20px
   }
}

@media(min-width: 1000px) {
    body {
        max-width: 1360px;
        margin: auto;
        padding: 0 40px;
    }
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 20px;
    }

    .product__card {
        margin-bottom: 0;
    }
    
    .view-more {
        font-size: 1.1rem;
    }


}

/* products page */
.product-detail {
    width: 100%;
}
.product-heading {
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-align: center;
}

.page-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
}

.page-navigation__link {
   text-decoration: none;
    cursor: pointer;
    color: #333;
}

.page-navigation__link:hover {
    color: #919098;
}

.page__one {
    margin-right: 20px;
}

.current-page {
    font-weight: bold;
}

/* product detail page */

.product-detail__title,
.product-detail__text,
.product-detail__image,
.product-detail__price,
.product-detail__info {
    margin-bottom: 25px;
}

.product-detail__image {
    width: 100%;
}

.product-detail__info ul {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 70%;
}

.back-to-productpage {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #2c2c2e;
    cursor: pointer;
}

.back-to-productpage:hover {
    color: #919098;
}

@media (min-width: 800px) {
    .product-detail {
    max-width: 800px;
    }
    .product-detail__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        align-items: center;
    }
}

/* about page */
.about-heading {
    margin-bottom: 25px;
}

@media (min-width: 600px) {
    .about-page {
        max-width: 600px;
    }
}